Django==1.11.8
python-decouple==3.1
pytz==2017.3

amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
kombu==4.1.0
vine==1.1.4
redis==2.10.6

django-extensions==1.9.8
six==1.11.0
typing==3.6.2
unicodecsv==0.14.1

numpy==1.13.3
pandas==0.21.1
python-dateutil==2.6.1

dj-database-url==0.4.2


psycopg2==2.7.3.2

django-redis==4.8.0

django-money==0.12.3
py-moneyed==0.7.0